<!doctype html>
<html lang="en">
<%- include('../partials/head', { title }) %>

    <body>
        <a class="skip-link" href="#main">Skip to content</a>
        <div class="page">
            <%- include('../partials/header') %>
                <%- include('../partials/nav') %>
                    <main id="main" class="site-main">
                        <%- body %>
                    </main>
                    <%- include('../partials/footer') %>
        </div>
    </body>

</html>